.backgroundWrapper {
  position: relative;
  height: 45vh;
  overflow: hidden;
  box-shadow: 0 1.2rem 3.2rem rgba(20, 20, 20, 0.4);
  max-height: 24rem;
  min-height: 16rem;
}

.backgroundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.15;
  z-index: 1;
}

.movie-content {
  height: 90%;
  position: relative;
  z-index: 2;
  padding: 1rem;
}
