.form-container {
  border: 1px solid #bebebe;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
  border-radius: 20px;
}

.movie-title {
  margin: 50px 0px 20px 0px;
  font-size: 22px;
}

.create-button {
  margin-top: 20px;
  background-color: #ff8a00;
  color: #fff;
}

.text-editor {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  min-height: 100px;
}
