.button-holder {
    text-align: left;    
}

.delButton {
    background-color: rgb(224, 16, 16);
    margin: 5px;
}

.editButton {
    background-color:orange;
}

.editButton:hover {    
    border-color: black;
}

.closeButton {
    background-color: rgb(71, 226, 226);
}

.closeButton:hover,
.delButton:hover  {
    color: black;
}
