.button-holder {
    text-align: right;
    margin-right: 30px;   
}

.delButton {
    background-color: red;
    margin: 5px;
}

.editButton {
    background-color:orange;
}

.editButton:hover {    
    border-color: black;
}

.closeButton {
    background-color: rgb(71, 226, 226);
}

.delButton:hover .closeButton {
    color: black;
}
