.button-holder {
  text-align: left;
}

.button-delete {
  background-color: rgb(224, 16, 16);
  margin-left: 5px;
}

.hart {
  margin: 18px 5px;
  cursor: pointer;
}

.animation {
  -webkit-animation-name: fadeOut;
  animation-name: fadeIn;
}

.animation:hover {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.hart:hover {
  color: #ff8a00;
}

.hart-not-active {
  color: gray;
}

.hart-active {
  color: red;
}

.hart-input {
  display: none;
}
