.comment-div {
  text-align: right;
}

.comment-link {
  margin: 0px 5px;
  cursor: pointer;
}

.comment-input-container {
  position: relative;
}

.comment-input-close {
  position: absolute;
  right: 10px;
  top: 48px;
  z-index: 10;
  color: #999;
}
